# WordPress core files
     /wp-content/uploads/
     /wp-content/cache/
     /wp-content/upgrade/
     /wp-content/backup*/
     /wp-config.php
     /wp-content/plugins/*/cache/
     /wp-content/themes/*/cache/

     # Environment files
     .env
     *.log

     # Local development
     .DS_Store
     Thumbs.db

     # Composer
     /vendor/
     composer.lock

     # Node modules
     /node_modules/
     package-lock.json